<main>
  <div class="bg-black">
    <div class="navbar rounded-t-2xl bg-gray-300  justify-around justify-items-center">
      <span class="w-xs overflow-hidden">
        <a class="link no-underline font-bold text-3xl text-secondary">$ Cashanova</a>
      </span>
      <label class="input rounded-2xl  w-xs  text-secondary">
        <fa-icon [icon]="icons.faMagnifyingGlass" size="xl"></fa-icon>
        <input type="search" placeholder="Search currencies" />
      </label>
      <span class="flex w-xs justify-end overflow-hidden">
        <fa-icon [icon]="icons.faCoffee" size="2xl"></fa-icon>
        <fa-icon [icon]="icons.faBars" size="2xl"></fa-icon>
      </span>
    </div>
    <div class="mx-auto flex max-w-6xl flex-wrap items-center justify-center">
      @for (rate of this.rates(); track rate.code) {
      <div class="card bg-base-100 m-4 w-xs shadow-sm">
        <figure>
          <div class="flex">
            @if (rate.code == "EUR") {
            <img src="https://flagcdn.com/w160/eu.png" alt="EU" />
            } @else {
            <img src="https://flagcdn.com/w160/gb.png" alt="EU" />
            }
            <img src="https://flagcdn.com/w160/pl.png" alt="PL" />
          </div>
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            {{ rate.currency | titlecase }}
          </h2>
          <p class="mx-auto">
            1
            {{ rate.code }}
            =
            {{ rate.mid }}
            PLN
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Stuff</button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</main>
<router-outlet />
