<main class="min-h-screen bg-base-100">
  <div class="navbar bg-base-300 rounded-b-2xl shadow-md px-4 py-2">
    <div class="navbar-start">
      <span class="btn btn-ghost normal-case text-2xl">
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
          <fa-icon [icon]="faDollarSign"></fa-icon>
          Cashanova
        </a>
      </span>
    </div>

    <div class="navbar-center">
      <label class="input rounded-2xl w-xs">
        <fa-icon [icon]="faMagnifyingGlass" size="xl"></fa-icon>
        <input type="search" placeholder="Search currencies" />
      </label>
    </div>

    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <fa-icon [icon]="faBars" size="xl"></fa-icon>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
        </ul>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10 place-items-center">
    <nav>
      <h6 class="footer-title">Services</h6>
      <a class="link link-hover" routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a class="link link-hover" routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>

    </nav>
    <aside><img src="https://picsum.photos/200" /></aside>
  </footer>
</main>