<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  @for (rate of this.rates(); track rate.code) {
  <div class="card bg-base-200 shadow-xl hover:shadow-2xl transition-shadow duration-300">
    <figure class="px-10 pt-10">
      <div class="avatar-group -space-x-6">
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="{{flags.getFlagUrl(rate.code, 'w160')}}" alt="EU Flag" />
          </div>
        </div>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://flagcdn.com/w160/pl.png" alt="PL Flag" />
          </div>
        </div>
      </div>
    </figure>

    <div class="card-body items-center text-center">
      <h2 class="card-title text-primary">
        {{ rate.currency | titlecase }}
      </h2>
      <p class="text-base-content">
        1 {{ rate.code }} = {{ rate.mid }} PLN
      </p>

      <div class="card-actions justify-center mt-4">
        <button class="btn btn-primary btn-outline">
          Exchange Details
          <fa-icon [icon]="faExchangeAlt" class="ml-2"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  }
</div>